@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    max-width: 375px;
    font-family: "Source Sans 3";
    border: 3px solid black;
}

.logo-img {
    width: 127px;
    display: block;
    margin-left: 6px;
}

.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 12px;
    margin-left: auto;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 2px solid #C6C6C6;
}

.post {
    width: 100%;
}

.icon {
    width: 20px;
    margin-right: 4px;
}

.user-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.user-data {
    display: flex;
    flex-direction: column;
}

.user-post {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 12px 8px;
}

.user-location {
    font-size: 12px;
}

.user-name {
    font-weight: bold;
    font-size: 13px;
}

.interactions-container {
    margin-left: 10px;
    margin-top: 8px;
}

.bold {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 8px;
}

p {
    font-size: 13px;
}

#nr-likes {
    margin-top: 3px;
    margin-bottom: 0
}

#comment {
    margin-top: 8px;
}







